body {
  margin: 0;
  text-align: center;
  background-color: #ffe8dd;
}
canvas {
  display : block;
  position: relative;
  z-index: 1;
}

.input_video{
  display: none;
}

.camera{
  display: flex;
  position: absolute;
  justify-content: center;
  z-index: 2;
  bottom: 140px;
}

.handPos {
  text-align: center;
}